<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "SERVICES", root_path %></li>
          <li><%= link_to "CLIENTS", root_path %></li>
          <li><%= link_to "INFO", root_path %></li>
          <li><%= link_to "CONTACT", root_path %></li>
        </ul>
    </div>
  </nav>
    <div id="page_container" class="container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <div class="row">
          <div class="large-12 columns">
            <%= yield %>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="large-12 columns">
          <footer>
            <%= render "/refinery/footer" -%>
          </footer>
        </div>
      </div>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
