<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div class="row">
      <div class="large 12-columns">
        <h1 id="logo"><img src="https://s3-us-west-2.amazonaws.com/wildearthproductions/logo.png" /></h1>
      </div>
    </div>
    <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/home">HOME</a></li>
          <li><a href="/services">SERVICES</a></li>
          <li><a href="/clients">CLIENTS</a></li>
          <li><a href="/info">INFO</a></li>
          <li><a href="/video">VIDEO</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </section>
    </div>
  </nav>
  </div>
    <div id="page_container" class="container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <div class="row">
          <%= yield %>
        </div>
      </section>
      <div class="row">
        <div class="large-12 columns">
          <footer>
            <%= render "/refinery/footer" -%>
          </footer>
        </div>
      </div>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
